/* Font-style */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Responsive font */
hmtl {
    font-size: 62.5%;
  }

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
    width: 10%;
    border: 1px solid black;
}

main {
    width: 60%;
    border: 1px solid black;
}

aside {
    width: 30;
    border: 1px solid black;
}

body main, body aside, body header {
    float: left;
}
body {
    margin-top: 2em;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* Navigation */

nav > section {
    line-height: 2em;
    margin-bottom: 3em;
}
.ec{
    color: orange;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

nav a {
    text-decoration: none;
    color: #777777;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    line-height: 3rem;
}

/*come back to this*/
hr {
    width: 15%;
    border: none;
    border-bottom: 3px solid #9b9898;
    height: 5px;
}

