/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Responsive font */
hmtl {
    font-size: 62.5%;
  }

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
    font-size: 62.5%;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
    width: 10%;
    border: 1px solid black;
}

main {
    width: 60%;
    border: 1px solid black;
}

aside {
    width: 30;
    border: 1px solid black;
}

body main, body aside, body header {
    float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.ec{
    color: orange;
    font-weight: bold;
    font-size: 1.5rem;
}